.container {
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 2px;
   
}
.display {
    border: 2px solid black;
    width: 200px;
}
.numbtn {
    display: flex;
    background-color: lightblue;
}
#/ {
f
}