.container {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(130, 130, 255);
}
.display {
    border: 2px solid black;
    width: 200px;
}
.numbtn {
    background-color: lightblue;
}