.container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.display {
    border: 2px solid black;
    width: 200px;
}
.numbtn {
    background-color: lightblue;
}